name: Build & Lint

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: 0 4 * * 1
  workflow_dispatch:

env:
  JAVA_VERSION: 17.x

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-channel: [stable, beta]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.flutter-channel }}

      - run: flutter pub get

      - run: flutter analyze

  build-example:
    name: Build example
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-channel: [stable, beta]
    defaults:
      run:
        working-directory: example
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.flutter-channel }}

      - run: flutter pub get

      - run: flutter build apk

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v6
        with:
          name: example-apk-flutter-${{ matrix.flutter-channel }}
          path: example/build/app/outputs/apk/release/app-release.apk
